@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.alignleft{
    float: left;
    margin-right: 15px;
}
.alignright{
    float: right;
    margin-left: 15px;
}
.aligncenter{
    display: block;
    margin: 0 auto 15px;
}
a:focus{
    outline: 0 solid;
}
img{
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0 0 15px;
    font-weight: 300;
}

body {
    
}

.section-padding {
    padding: 80px 0;
    /* text-align: center; */
    /* margin-bottom: 80px; */
}

.section-title {
    text-align: center;
    margin-bottom: 80px;
    /* font-weight: 700; */
}

.section-title h2 {
    font-weight: 700;
    color: #555;
    margin-bottom: 10px;
}

.section-title span {
    background: #6aaf08;
    display: inline-block;
    width: 28px;
    position: relative;
    height: 4px;
    margin: 5px;
    border-radius: 2px;
}
span.second {
    background: #3B3B60;
    width: 15px;
}

.single-feature-item {
    margin-bottom: 20px;
    padding-right: 35px;
}

img.featuer-borderd-image {margin-right: 40px;float: left;position: relative;z-index: 1;display: block;}
/* 
img.featuer-borderd-image:after {
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    content: "";
    z-index: 99;
    background: #0df9f9;
}
 */

 .bordered-img {
    background: #ddd;
    height: 120px;
    width: 100px;
    position: relative;
    border: 1px solid #fff;
}

.bordered-img:after {
    background: #6aaf08;
    position: absolute;
    right: -5px;
    bottom: -5px;
    content: "";
    height: 100%;
    width: 100%;
    z-index: -1;
}

.single-feature-item h3 {
    border-bottom: 1px dashed #6aaf08;
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px;
}

body {
    color: #555;
    line-height: 1.7;
    font-size: 15px;
}
.big-featured-img {
    background: #ddd;
    height: 400px;
    width: 90%;
    float: right;
    position: relative;
    border: 1px solid #fff;

}

.big-featured-img:after {
    background: #333;
    /* top: 0; */
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    opacity: 0.3;

}

.big-featured-img:before {
    position: absolute;
    left: -10px;
    top: 10px;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    border-radius: 5px 0 5px 0;
    
    background-image: url("../css/img/brick-wall-dark.png");
    background-color: #6aaf08;
    background-position: center;
}

.big-featured-img img, .bordered-img img {
    width: 100%;
    height: 100%;

}

.big-featured-img, 
.big-featured-img img, 
.big-featured-img.big-featured-img:after {
    border-radius: 0 30px 0 0;
}

/* .single-feature-item{
    background: url("../css/img/rosebelkhan.jpg");
} */